/* Black 1 - #0B090A */
/* Black 2 - #161A1D */
/* red 1 - #BA181B */
/* red 1 - #E5383B */

/* Generic */

body{
    font-family: 'Epilogue', sans-serif;
    color: #0B090A;
    font-size: 16px;
    line-height: 24px;
}

.button{
    text-transform: uppercase;
}

.container{
    padding: 20px 20px;
    margin: 0 auto;
}

.container header{
    padding-top: 28px;
}

.overtitle{
    padding: 28px 0;
    font-weight: bold;
    color: #E5383B;
    font-size: 1rem;
    line-height: 1rem;
}

.title{
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.8rem;
    padding: 16px 0;
}

/* HEADER */

#header-container{
    background-color: #0B090A;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-button{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 12px 24px;
}

.header-button:hover{
    color: #D9D9D9;
    border: 2px solid #D9D9D9;
}

.header svg{
    width: 86px;
    height: 26px;
}

/* HERO */

#hero-container{
    background-color: #0B090A;
    color: #FFFFFF;
}

.hero-text__title{
    font-size: 3.1rem;
    line-height: 3.1rem;
    font-weight: bold;
    padding-top: 28px;
}

.hero-text__subtitle{
    font-size: 1.5rem;
    line-height: 1.2rem;
    padding: 16px 0;
}

.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #FFFFFF;
    background-color: #BA181B;
    padding: 20px 20px;
    margin-top: 16px;
}


.hero-button:hover{
    background-color: #941B1D;
}


.hero-img img{
    width: 100%;
    margin-bottom: -20px;
}

/* SERVICES */

.service-card img{
    width: 100%;
}

.service-card{
    background-color: #F5F3F4;
    margin: 40px 0;
    border: 2px solid #9F9F9F;
}

.service-card__text{
    padding: 32px;
}

.service-card h3{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;
    padding-bottom: 8px;
}

.service-card p{
    font-size: 1rem;
    line-height: 1rem;
}

/* LOCATION */
#location-container{
    background-color: #F5F3F4;
}

.location address{
    font-size: 1.2rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* FOOTER */


#footer-container{
    background-color:#0B090A;
    color: #FFFAF1
}

.logocopy{
    padding: 48px 20px;
}


.logocopy a{
    color: #FFFAF1
}

.footer-logocopy{
    display: flex;
    flex-direction: column;
}

.footer-logocopy span{
    padding: 12px 0;
}

@media(min-width: 1024px){
    .container{
        padding: 32px 72px;
        max-width: 1280px;
    }

    .container header{
        padding-top: 64px;
    }


    .hero{
        display: flex;
        align-items: center; 
        justify-content: flex-start;
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
    
    .hero-img img{
        margin-bottom: -32px;
    }
    .services .title{
        padding-bottom: 8px;
    }
    .services-list{
        display: flex;
        gap: 32px
    }

    .service-card{
        margin-bottom: 64px;
    }

    .location address{
        margin-bottom: 16px;
    }

    .logocopy{
        padding: 48px 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}